<% content_for :title do %>
    <span class="md-title">Booster Creator</span>
<% end %>

<booster-creators :base_ppg="<%= params[:base_ppg] || 0.57 %>" :limit="<%= params[:limit] || 100%>"></booster-creators>
