<% content_for :title do %>Booster Creators<% end %>
<% content_for :navigation do %>navigation-booster-creators<% end %>
<% content_for :header do %>
    <md-field>
      <label>App ID</label>
      <md-input v-model="appid"></md-input>
    </md-field>
    <md-button @click="appid && on_modal({ appid })">Detail</md-button>
<% end %>
<% content_for :modal do %>
    <booster-pack :appid="modal.appid" :name="modal.name" :price="modal.price"></booster-pack>
<% end %>

<booster-creators @confirm="on_confirm" @message="on_message" @detail="on_modal"></booster-creators>
