<% content_for :title do %>
    <span class="md-title">Account Histories</span>
<% end %>

<account-histories :accounts="enabled_accounts" @confirm="on_confirm" @message="on_message"></account-histories>

