#vue-app {
  height: 100vh;
}

.md-app {
  height: 100%;

  .md-drawer {
    width: 25%;
  }
}

.md-table-row.md-accent {
  background-color: #5D4037;
}

.md-snackbar {
  &.info {
    background-color: #CFD8DC;
  }

  &.error {
    background-color: #D7CCC8;
  }
}

.tooltip-label {
  color: #999;
}

.md-field {
  margin-left: 12px;
  max-width: 120px;

  &:first-child {
    margin-left: 0;
  }

  &.md-has-value {
    .md-select i svg {
      path:first-child {
        display: none;
      }
    }
  }
}
