#vue-app {
  height: 100vh;
}

.md-app {
  height: 100%;

  .md-drawer {
    min-width: 320px;
  }
}

.md-table-row.md-accent {
  background-color: #5D4037;
}

.md-snackbar {
  &.info {
    background-color: #CFD8DC;
  }

  &.error {
    background-color: #D7CCC8;
  }
}

.tooltip-label {
  color: #999;
}

.md-field {
  margin-left: 12px;
  max-width: 120px;

  &:first-child {
    margin-left: 0;
  }

  &.md-has-value {
    .md-select i svg {
      path:first-child {
        display: none;
      }
    }
  }

  &.account-selector {
    max-width: 180px;
  }

  &.date-selector {
    max-width: 150px;
  }
}

.numeric-cell {
  width: 120px;

  .md-table-cell-container {
    width: 120px;
  }
}

.md-table-cell-container {
  padding: 6px 18px 6px 12px;
}

.md-table-head-label {
  padding-right: 18px;
  padding-left: 12px;
}

.md-table-sortable-icon {
  left: auto;
  right: 0;
}

.md-table-head.md-sortable:first-of-type .md-table-sortable-icon {
  right: 0;
}

.md-toolbar {
  .md-badge {
    top: -4px;
    right: -4px;
  }
}

.md-toolbar {
  .md-tabs.md-theme-default .md-tabs-navigation {
    background-color: inherit;

    .md-button.md-active .md-icon {
      color: #fff;
    }

    .md-tabs-indicator {
      background-color: #fff;
    }
  }
}

.md-list-item-text :nth-child(2), .md-list-item-text :nth-child(3) {
  font-size: 12px;
  color: #9E9E9E;
}

.md-inset {
  .md-list-item-content > .md-icon:first-child {
    margin-right: 16px;
  }
}